    .open-sans-ft {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
    
    * {
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #474747;
        font-size: 1.13rem;
    }
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    header {
        background-color: #FFF8F3;
        background-image: url(assets/developer.png), url(assets/header_bg.png);
        background-repeat: no-repeat;
        background-position: top left, bottom right;
        padding: 0px 0px 0px 200px;
        margin: 10px;
    }
    Section p {
    font-size: 0.85rem;
}
    .heding {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        font-weight: 700;
    }
    
    .logo a {
        display: block;
        margin: 45px 0px;
        font-size: 2.4rem;
        font-weight: 800;
    }
    
    .logo a span {
        color: #FD6E0A;
        font-size: 2.4rem;
    }
    
    header nav ul li {
        display: inline-block;
        padding: 0px 10px;
        margin-left: 40px;
    }
    
    button {
        background-color: #FD6E0A;
        color: #fff;
        font-weight: 700;
        padding: 16px 30px;
        border-radius: 10px;
        border: none;
        font-size: 1.3rem;
        cursor: pointer;
    }
    
    a button i {
        color: #fff;
    }
    
    section {
        width: 60%;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 130px;
    }
    
    section h2 {
        text-align: center;
        font-size: 2rem;
        color: #181818;
        margin-bottom: 30px;
    }
    
    .hero {
        display: flex;
        justify-content: space-between;
    }
    
    nav {
        margin-right: 200px;
    }
    
    .hero-content {
        width: 37%;
        margin-top: 40px;
    }
    
    .hero-content h3 {
        font-size: 2.4rem;
        color: #474747;
    }
    
    .hero-content h1 {
        font-size: 4.4rem;
        margin: 40px 0;
    }
    
    .hero-content p {
        margin-bottom: 20px;
    }
    
    section#about {
        background-color: #FFF8F3;
        padding: 170px;
        font-size: 18px;
    }
    section#about p {
    text-align: center;
}
.AboutMe {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
table td, table th {
    padding: 0px 36px;
    font-size: 0.8rem;
}
tbody{
    margin-top: 10px;
}
table th{
    font-weight: 600;
    height: 43px;
}
tbody tr{
    font-weight: 700;
}
section#skills > p{
   text-align: center;
   color: #757575;
}
.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill {
    padding: 40px 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin: 0px 10px;
}
.skill h4 {
    font-size: 0.8rem;
    margin-top: 20px;
    font-weight: 800;
}
.skill img {
    width: 40px;
}
.skill p {
    font-size: 0.81rem;
    color: #000;
}
.resume-div {
    display: flex;
    justify-content: space-between;
}
.resume-left h2, .resume-right h2 {
    text-align: left;
    font-size: 1rem;
}
.resume-content h4 {
    font-size: 0.85rem;
    color: #000;
    margin-bottom: 30px;
}
.resume-content p {
    font-size: 0.8rem;
    margin: 20px 0px;
    color: #757575;
}
.resume-content {
    border-bottom: 1px solid black;
    width: 90%;
    margin-top: 30px;
}
.resume-left .resume-content:last-child, .resume-right .resume-content:last-child{
    border: none;
}
.resume-content h3{
    color: #757575;
}
section#resume > a{
    text-align: center;
    display: block;
}
footer {
    
    background-color: #FFF8F3;
}
.footer-content {
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 130px;
    max-width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 160px 0px 0px 20px;
}
.footer-content h2 {
    margin-bottom: 40px;
    color: #000;
    font-weight: 600;
    font-size: 2rem;
}
.footer-content .footer-left, .footer-content .footer-right {
   width: 48%;
}
.footer-right form input, .footer-right form textarea, .footer-right form a {
    display: block;
    width: 100%;
    padding: 20px 20px;
    margin-top: 22px;
    border-radius: 5px;
    border: none;
    color: #000;
    font-size: 0.84rem;
}
.footer-right form input::placeholder, .footer-right form textarea::placeholder {
    color: #474747;
    font-size: 0.7rem;
}
.footer-right form textarea{
  min-height: 100px; 
  resize: vertical; 
  overflow-y: auto;  
}