    .open-sans-ft {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
    
    * {
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #474747;
        font-size: 1.13rem;
    }
    
    a {
        text-decoration: none;
        color: #000;
    }
    
    header {
        background-color: #FFF8F3;
        background-image: url(assets/developer.png), url(assets/header_bg.png);
        background-repeat: no-repeat;
        background-position: top left, bottom right;
        padding: 0px 0px 0px 200px;
        margin: 10px;
    }
    Section p {
    font-size: 0.85rem;
    margin-top: 30px;
}
    .heding {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        font-weight: 700;
    }
    
    .logo a {
        display: block;
        margin: 45px 0px;
        font-size: 2.4rem;
        font-weight: 800;
    }
    
    .logo a span {
        color: #FD6E0A;
        font-size: 2.4rem;
    }
    
    header nav ul li {
        display: inline-block;
        padding: 0px 10px;
        margin-left: 40px;
    }
    
    button {
        background-color: #FD6E0A;
        color: #fff;
        font-weight: 700;
        padding: 16px 30px;
        border-radius: 10px;
        border: none;
        font-size: 1.3rem;
        cursor: pointer;
    }
    
    a button i {
        color: #fff;
    }
    
    section {
        width: 60%;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 130px;
    }
    
    section h2 {
        text-align: center;
        font-size: 2rem;
        color: #181818;
    }
    
    .hero {
        display: flex;
        justify-content: space-between;
    }
    
    nav {
        margin-right: 200px;
    }
    
    .hero-content {
        width: 37%;
        margin-top: 40px;
    }
    
    .hero-content h3 {
        font-size: 2.4rem;
        color: #474747;
    }
    
    .hero-content h1 {
        font-size: 4.4rem;
        margin: 40px 0;
    }
    
    .hero-content p {
        margin-bottom: 20px;
    }
    
    section#about {
        background-color: #FFF8F3;
        padding: 170px;
        font-size: 18px;
    }
    section#about p {
    text-align: center;
}
.AboutMe {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
table td, table th {
    padding: 0px 36px;
    font-size: 0.8rem;
}
tbody{
    margin-top: 10px;
}
table th{
    font-weight: 600;
}
tbody tr{
    font-weight: 700;
}
section#skills > p{
   text-align: center;
   color: #757575;
}
.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill {
    padding: 40px 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin: 0px 10px;
}
.skill h4 {
    font-size: 0.8rem;
    margin-top: 20px;
    font-weight: 800;
}
.skill p {
    font-size: 0.81rem;
}